*{
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

.main-container{
  position:relative;
}

.nav{
  z-index:100
}

#bg-video{
  z-index: -2;
  opacity: 1;
  position:fixed;
}

.bg-season{
  z-index: -1;
  position:fixed;
  opacity: 0.85;
  height: 100vh;
  width: 100vw;
}

.anime-card{
  background: white;
  border-radius: 7px;
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 4px #555;
  width: 46rem;
  height: 26.5rem;
}

.anime-right{
  display:inline-block;
  position: absolute;
  overflow: hidden;
  word-wrap: none;
}


.anime-left, .anime-image{
  display:inline-block;
  width:18.5rem;
  height:26.5rem;
}

.btn-genre{
  font-size: 2rem;
}


