*{
  font-size: 62.5%;
  font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

.main-container{
  position:relative;
}

.china{
  position:absolute;
  bottom:0;
  right:0;
  height:10%;
  width:5%;
  z-index:200;
}

/*navbar*/

#navbar{
  position:absolute;
  display:flex;
  font-size:3rem;
  justify-content: center;
  width: 100vw;
  background-color:rgb(43,43,68);
  padding-bottom: 15rem;
  font-weight: 600;
  padding-top: 5rem;
}

.nav-item:hover{
  opacity: 1;
}

.nav-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  margin-right: 4rem;
  color: white;
  opacity: 0.65;
  transition: opacity 0.3s ease-in-out;
  font-family: inherit;
  z-index:5;
}

.nav-item-year{
  font-size: 1rem;
  text-align: center;
}
/* container */

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  background: rgb(234,239,244);
  padding: 0 15rem;
  padding-top: 13rem;
}

#bg-video{
  z-index: 3;
  opacity: 1;
  position:fixed;
}

.bg-season{
  z-index: -1;
  position:fixed;
  opacity: 0.85;
  height: 100vh;
  width: 100vw;
}

.anime-card{
  background: white;
  border-radius: 3px;
  position: relative;
  justify-content: center;
  box-shadow: 0 5px 4px #ddd;
  width: 46.1rem;
  height: 26.7rem;
  margin-top: 5rem;
  transition: all .5s;
}

.anime-card:hover{
  box-shadow: 5px 20px  10px #aaa;
}

/* card front */

.anime-left{
  position:relative;
  float:left;
  width:50%
}
.anime-right{
  display:inline-block;
  position:relative;
  word-wrap: none;
  padding: 2rem 1.5rem;
  float:left;
  height:22.7rem;
  width:50%;
}

.anime-details{
  position:relative;
  
}

.anime-desc{
  font-size: 1.5rem;
  margin: 1rem 0;
  height:17rem;
  overflow:auto;
}

.anime-left, .anime-image{
  display:inline-block;
  width:18.5rem;
  height:26.7rem;
}

.anime-image{
  border-radius: 3px;
}

.anime-title-container{
  position:absolute;
  bottom:0;
  background: rgba(0,0,0,0.5);
  color:white;
  height: 30%;
  width: 18.5rem;
  overflow:auto;
}

.anime-title{
  font-size: 2rem;
  font-weight: 600px;
  text-align: center;
}



.btn-genre{
  font-size: 1.4rem;
  border-radius: 25px;
  background:rgb(101,48,141);
  color:white;
  padding: 0px 1rem;
  display: inline-block;
  margin-right:5px;
  margin-top:2px;
}

.heart{
  height:25px;
  width:25px;
  border: none;
  outline:none;
  position:absolute;
  bottom: 6px;
  right: -8px;

}

/*login and signup */
.bg-default{
  background: #eee;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.login{
  z-index: 4;
  height:50vh;
  width:25vw;
  background: white;
  font-size: 5rem;
  box-shadow: 2px 2px 4px #555;
  transform: translate(150%, 50%)
}

.login-container {
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
}

.form-cont {
  z-index: 6;
  text-align: center;
  display: flex;
  background:linear-gradient(45deg, #19547b , #516395);
  opacity: .95;
  padding: 5vw;
}

.form-submit {
  z-index: 7;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 20px;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

input {
  display: flex;
	flex-direction: row-reverse;
	border-bottom: 1px solid rgba(#FFFCE8, .1);
	padding-bottom: 3px;
  margin-bottom: 5px;
	flex: 1 0 auto;
	font-size: 34px;
  font-weight: 300;
  height: 60px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  position: absolute;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.front {
  /* backface-visibility: hidden; */
  transform: none;
}

.front:hover {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.trailer {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/* .placehold {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
} */

.no-trailer {
  display: flex;
}
